{% extends "./base.html" %}

{% block content %}
<div class="card border-secondary mt-2">
    <div class="card-header bg-danger">
        <div class="col-sm-6 float-left m-0 p-0">
            <h5 class="text-left m-0 text-light">Atención de Clientes</h5>
        </div>
        <div class="col-sm-6 float-right m-0 p-0">
            <h5 class="text-right text-light lead m-0"><strong>{{ boca_atencion }}</strong></h5>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col col-lg-2">
                <div class="card border-danger">
                    <div class="card-header bg-danger p-1">
                        <span class="m-0 text-left text-sm text-light">Pendientes</span>
                    </div>
                    <div class="card-body  text-center m-0 p-1">
                        <span class="display-4 m-0 p-0">{{ pendientes }}/{{ turnos.count }}</span>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2">
                <div class="card border-success">
                    <div class="card-header bg-success p-1">
                        <span class="m-0 text-left text-sm text-light">Atendidos</span>
                    </div>
                    <div class="card-body  text-center m-0 p-1">
                        <span class="display-4 m-0 p-0">{{ atendidos_por_usuario }}/{{ atendidos }}</span>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2">
                <div class="card border-primary">
                    <div class="card-header bg-primary p-1">
                        <span class="m-0 text-left text-sm text-light">Participación</span>
                    </div>
                    <div class="card-body  text-center m-0 p-1">
                        <span class="display-4 m-0 p-0">{{ participacion }}</span><span class="h4">%</span>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6 align-self-center">
                {% if turno_actual %}
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <div class="card border-secondary">
                            <div class="card-body  text-center p-2">
                                <span class="h4">{{ turno_actual.cliente.nombre_completo_con_edad }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if turno_actual.estado == 1 %}
                    <div class="col-sm-8">
                        <form method="post" action="{% url 'atender_turno' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning btn-lg btn-block">Atender</button>
                        </form>
                    </div>
                    <div class="col-sm-4">
                        <form method="post" action="{% url 'cancelar_turno' %}" id="formulario-cancelar">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary btn-lg btn-block" id="btn-cancelar">Cancelar</button>
                        </form>
                    </div>
                    {% else %}
                    <div class="col-sm-12">
                        <form method="post" action="{% url 'finalizar_turno' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-lg btn-block">Finalizar</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
                
                
                {% else %}
                <form method="post" action="{% url 'llamar_siguiente' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success btn-lg btn-block p-4 mt-2 mb-2">Llamar al siguiente Cliente</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="card border-secondary mt-2">
    <div class="card-header ">
        <div class="col-sm-6 float-left m-0 p-0">
            <h5 class="text-left m-0">Turnos del día para el <strong>Servicio de {{ boca_atencion.servicio }}</strong></h5>
        </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center" scope="col">Cliente</th>
          <th class="text-center" scope="col">Condición</th>
          <th class="text-center" scope="col">Esperando</th>
          <th class="text-center" scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        {% if turnos %}
            {% for turno in turnos %}
            <tr>
              <th scope="row">{{ turno.cliente }}</th>
              <td class="text-center">{{ turno.condicion |default_if_none:"N/A"}}</td>
              <td class="text-center">{{ turno.tiempo_en_espera }}</td>
              <td class="text-center"><span class="badge badge-{{ turno.get_estado_color }}">{{ turno.get_estado }}</span></td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
              <th class="text-center text-info" scope="row" colspan="4">Aún no se registraton reservas para el día de hoy!</th>
            </tr>
        {% endif %}
      </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    document.getElementById("btn-cancelar").addEventListener("click", function(event){
        event.preventDefault(); // previene el envío del formulario

        if(confirm("¿Está seguro de que desea Cancelar el Turno?")){
            // si el usuario hace clic en "Aceptar", envía el formulario
            document.getElementById("formulario-cancelar").submit();
        }
    });
</script>

{% endblock %}