{% extends "./base.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6 pt-5 pb-5">
            <div class="row mb-3">
                <div class="col-12 text-center">
                    <h2 class="text-light">SISTEMA DE GESTIÓN DE TURNOS</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-body mt-3">
                    <div class="row">
                        {% if user.is_authenticated %}
                        <div class="col-12">
                            <a class="btn btn-block btn-info btn-lg mb-3" href="{% url 'add_turno' %}">RESERVA DE TURNOS</a>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-block btn-danger btn-lg mb-3" href="{% url 'atencion_clientes' %}">ATENCIÓN DE CLIENTES</a>
                        </div>
                        {% endif %}
                        <div class="col-12">
                            <a class="btn btn-block btn-warning btn-lg mb-3" href="{% url 'pantalla' %}">PANTALLA DE TURNOS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}