{% extends "./base.html" %}

{% block navbar %}
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="/">TURNERO</a> 
    <span class="nav-item text-light lead mr-1 ml-auto" id="hora-actual" style="font-size: 30px; line-height: 1.0;" >{{ hora_actual }}</span>
</nav>
{% endblock %}

{% block content %}
<div class="card border-secondary mt-2">
    <div class="card-header bg-success">
        <div class="col-sm-6 float-left m-0 p-0 text-light">
            <h4 class="text-left m-0"><strong>ULTIMOS LLAMADOS</strong></h4>
        </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr style="background-color: #81cb93;">
          <th class="text-center" scope="col">Cliente</th>
          <th class="text-center" scope="col">Servicio</th>
          <th class="text-center" scope="col">Boca de Atención</th>
          <th class="text-center" scope="col">Llamada</th>
        </tr>
      </thead>
      <tbody>
        {% if turnos %}
            {% for turno in turnos %}
            <tr class='{% if turno.estado == 1 %}h3{% else %}h5 text-secondary{% endif %}'>
              <th scope="row">{{ turno.cliente }}</th>
              <td class="text-center">{{ turno.servicio }}</td>
              <td class="text-center">{{ turno.boca_atencion }}</td>
              {% if turno.estado == 1 %}
              <td class="text-center">{{ turno.tiempo_de_llamada }}</td>
              {% else %}
              <td class="text-center">{{ turno.get_estado }}</td>
              {% endif %}
            </tr>
            {% endfor %}
        {% else %}
            <tr>
              <th class="text-center text-danger" scope="row" colspan="4">No se registran llamadas recientes!</th>
            </tr>
        {% endif %}
      </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">

    //Función para mostrar las alertas en forma asíncrona
    async function mostrarAlertas(alertas) {
        for (const alerta of alertas) {
            await Swal.fire({
                title: alerta.titulo,
                html: alerta.texto,
                icon: 'info',
                timer: 2000,
                showConfirmButton: false,
                timerProgressBar: true,
            });
        }
    }

    //Genera el listado de alertas a mostrar
    var listaDeAlertas = [];
    {% if turnos %}
        {% for turno in turnos %}
            {% if turno.estado == 1 %}
                listaDeAlertas.push({
                    titulo: '<h1>{{ turno.cliente }}</h1>',
                    texto: 'Favor dirigirse a: <p class="h2 pt-2"><b>{{ turno.boca_atencion }}</b></p>'
                });
            {% endif %}
        {% endfor %}
    {% endif %}
    mostrarAlertas(listaDeAlertas);

    //Recarga la página cada 30 segundos
    $(document).ready(function() {
        setInterval(function() {
            location.reload();
        }, 60000);
    });
</script>

{% endblock %}