{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class="card border-secondary mt-5">
    <div class="card-header ">
        <div class="col-sm-6 float-left m-0 p-0">
            <h5 class="text-left m-0">Reserva de Turnos</h5>
        </div>
        <div class="col-sm-6  float-right text-right p-0 m-0">
            <span class="text-muted m-0">Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }}</span>
        </div>        
    </div>
    <div class="card-body ">
        <p class="text-right text-info"></p>
        <form action="" method="post">{% csrf_token %}
        <table>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form|crispy }}
            {% endfor %}
        {% else %}
            {{ wizard.form|crispy }}
        {% endif %}
        </table>
        {% if wizard.steps.prev %}
        <button class="btn btn-primary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"><i class="fa-solid fa-arrow-left"></i> Paso Anterior</button>
        {% endif %}
        <button class="btn btn-success" type="submit" ><i class="fa-regular fa-calendar-check"></i> Reservar Turno</button>
        </form>
    </div>
</div>
{% endblock %}
